:root {
  --size: 300px;
  --green: hsl(90, 100%, 49%);
  --midgreen: hsl(90, 100%, 19%);
  --darkgreen: hsl(90, 100%, 9%);
}

body {
  background-color: black;
  color: var(--green);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.hidey { display: none; }

/* outer circle */
.simon {
  width: var(--size);
  height: var(--size);
  margin: 0;
  padding: 0;
  border: solid 1px;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: inset 0 0 20px black;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
}

  /* center circle */
  .simon::after {
    content: '';
    display: block;
    width: 30%;
    height: 30%;
    background-color: black;
    border: solid 1px var(--green);
    border-radius: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 100;
  }

.navitem {
  --rotate: calc(-72deg * var(--index));
  --translate: calc(20% * var(--index));

  display: block;
  width: 100%;
  height: 100%;
  background-color: var(--darkgreen);
  border: solid 1px var(--green);
  border-width: 0 0 1px 0;
  transform-origin: bottom left;
  transform: rotate(var(--rotate));
  position: absolute;
  top: -50%;
  left: 50%;
}
  .navitem:hover {
    background-color: var(--midgreen);
  }
  .navitem:last-child {
    transform:
      rotate(var(--rotate))
      skewX(calc(-1deg * (90 - (360 / (var(--index) + 1)))))
  }

.navtext {
  position: absolute;
  bottom: 0;
  left: 0;
  transform: rotate(calc(var(--rotate) * -1)) translate(var(--translate), var(--translate));
}

.navitem:last-child .navtext {
  transform: rotate(0deg) skewX(calc(90deg - (360 / (var(--index) + 1)))) translate(var(--translate), var(--translate));
}

.navitem_control:checked + .navitem {
  background-color: var(--green);
}
