:root {
    --distance: 3;
    --perspective: 1;
}

* {
    transform-style: preserve-3d;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    font-family: Roboto, sans-serif;
    font-weight: 100;
    line-height: 1;
    overflow: auto;
    perspective: calc(var(--perspective) * 1px);
    transform-style: preserve-3d;
    -webkit-overflow-scrolling: touch;
}

h1,
h2 {
    font-weight: 100;
    margin: 0;
}

h1 {
    font-size: 5em;
}

.container {
    padding: 10%;
    max-width: 40em;
    margin: auto;

    & > * {
        position: absolute;
        transform:
            translateZ(calc(var(--distance) * var(--perspective) * 1px))
            scale(abs(var(--distance) - 1))
        ;
        z-index: calc(var(--distance) * 1000);
    }

    & *:nth-child(1) {
        --distance: -0.4;
        top: 200px;
        left: 200px;
    }

    & *:nth-child(2) {
        --distance: .2;
        top: 200px;
        left: 500px;
    }

    & *:nth-child(3) {
        --distance: .3;
        top: 400px;
        left: 600px;
    }

    & *:nth-child(4) {
        --distance: .1;
        top: 500px;
        left: 500px;
    }

    & *:nth-child(5) {
        --distance: -2;
        top: 2000px;
        left: 2000px;
    }

    & *:nth-child(6) {
        --distance: .4;
        top: 600px;
        left: 300px;
    }

    & *:nth-child(7) {
        --distance: -1;
        top: 400px;
        left: 1000px;
    }

    & *:nth-child(8) {
        --distance: -.4;
        top: 100px;
        left: 1400px;
    }

    & *:nth-child(9) {
        --distance: .4;
        top: 900px;
        left: 500px;
    }

    & *:nth-child(10) {
        --distance: -1;
        top: 1600px;
        left: 100px;
    }

    h2 {
        font-size: 3em;
        /* @include parallax(.2); */
        --distance: 0.2;
    }
}